<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
       http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">



<!--    自动检测依赖注入 注解方式-->
    <context:annotation-config/>

<!--    xml配置方式-->
<!--    <task:scheduled-tasks>-->
<!--        <task:scheduled ref="timeTask" method="test" cron="0/5 * * * * ?"/>-->
<!--    </task:scheduled-tasks>-->
<!--    自动检测定时器 注解方式-->
<!--    <task:annotation-driven/>-->

<!--    扫描器 自动扫描所有带@Component、@Service、@Controller、@Repository的类，并实例化加入bean工厂-->
    <context:component-scan base-package="zcc.javaPractice"/>

    <aop:config>
        <!--切面-->
        <aop:aspect ref="cut" id="myasp">
            <aop:pointcut expression="execution(* zcc.javaPractice.AOPandIOC.server.*.*(..))" id="cuts" />
            <aop:after method="after" pointcut-ref="cuts"/>
            <aop:before method="before" pointcut-ref="cuts"/>
            <aop:around method="around" pointcut-ref="cuts" />
        </aop:aspect>
    </aop:config>

<!--=========================jdbc=======================-->

    <!--  导入peopertis文件-->
    <context:property-placeholder location="jdbc.properties" />

<!--    配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}" />
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
<!--    配置模板类实例-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>